section.advantages
	.advantages__wrapper
		.advantages__items
			.advantages__item
				.advantages__icon
					+icon("advantage-1")

				h1.advantages__title Быстро

				p.advantages__desc Мы делаем свою работу быстро! Два часа пролетят незаметно и Вы — счастливый обладатель стильной стрижки-минутки

			.advantages__item
				.advantages__icon
					+icon("advantage-2")

				h1.advantages__title Круто

				p.advantages__desc Забудьте, как вы стриглись раньше. Мы сделаем из вас звезду футбола или кино. Во всяком случае внешне.

			.advantages__item
				.advantages__icon
					+icon("advantage-3")

				h1.advantages__title Дорого

				p.advantages__desc Наши мастера — профессионалы своего делаи не могут стоить дёшево. К тому же, разве цена не даёт определённый статус?

	.advantages__dots
		.advantages__dot.advantages__dot--active
		.advantages__dot
		.advantages__dot



