include ../blocks/header/header
include ../settings/settings
include ../blocks/works/works
include ../blocks/mock/mock
include ../blocks/advantages/advantages
include ../blocks/news/news
include ../blocks/form/form
include ../blocks/reviews/reviews
include ../blocks/footer/footer

include ../mixins/mixins
