section.popup-login.popup-login--closed
	h2.popup-login__header Личный кабинет
	p.popup-login__enter Введите свой логин и пароль, чтобы войти
	form(method="get").popup-login__form

		.popup-login__group
			input(type="text" name="login" placeholder="Логин").popup-login__login

		.popup-login__group
			input(type="password" name="password" placeholder="Пароль").popup-login__password

		.popup-login__group-checkbox

			label.popup-login__check
				input(type="checkbox" checked)
				| Запомните меня

			a(href="#").popup-login__forgot Я забыл пароль!

		.popup-login__group-enter
			input(type="submit" value="Войти в личный кабинет" name="enter-login")
			input(type="button" value="Закрыть" name="close-btn").popup-login__close-btn
			span
