include settings/settings
include mixins/mixins

<!DOCTYPE html>
html(lang="ru")
	head
		+settings()
	body
		include blocks/header/header
		include blocks/works/works
		include blocks/footer/footer
		
		//- SVG
		include mixins/sprite
		
		//- POPUPS
		include blocks/popups/popups


		link(rel="stylesheet" href="css/main.min.css")
		script(src="js/scripts.min.js")
