include layout/sections


<!DOCTYPE html>
html(lang="ru")
	head
		+settings()
	body
		+header()
		+works()
		+footer()
		
		//- POPUPS
		include blocks/popups/popups
		
		//- SVG
		include mixins/sprite

		link(rel="stylesheet" href="css/main.min.css")
		script(src="js/scripts.min.js")
