body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666


body
	font-size: 16px
	-webkit-font-smoothing: antialiased
	min-width: 320px
	font-family: $default-font
	opacity: 1
	color: #f7f4f1
	background-color: $bg-darkgrey

	overflow-x: hidden

body
	>	svg
		position: absolute
		width: 0
		height: 0
		display: none



.text-center
	text-align: center
.text-left
	text-align: left
.text-right
	text-align: right


.img-responsive
	display: block
	max-width: 100%
	height: auto


.visually-hidden
	position: absolute
	width: 1px
	height: 1px
	margin: -1px
	padding: 0
	border: 0
	clip: rect(0 0 0 0)
	overflow: hidden


.btn-default
	border: 1px solid #e5ddd5

	text-align: center
	font-size: 18px
	font-weight: bold
	line-height: 24px

	text-transform: uppercase

	padding: 19px 0

	margin-top: 40px

	color: black

	&:hover
		background-color: black

		color: white

		text-decoration: none
