mixin works()
	section.works
		.works__wrapper
			.works__title
				h1 Наши работы
				
			.works__container-items
				.works__works-item
					img(src="img/photo-works-1.jpg", alt="").works__item-photo
					
					.works__item-title
						h1 Hello
