.footer

	&__title
		font-size: 18px
		font-weight: bold
		text-align: center

	&__desc
		font-size: 18px
		text-align: center
		padding: 0 50px

		.span1
			display: none

		.span2
			display: block

			font-size: 18px
			font-weight: bold

			border: 1px solid #3e3e3e

			width: 100%

			margin-top: 25px

			padding: 15px 0
	
	&__block-2
		display: flex
		

	&__icon
		border: 1px solid #3e3e3e

		flex-grow: 1
		text-align: center

		padding: 37px 0

		&:nth-child(1)
			img
				margin-top: 7px

	&__author
		text-align: center

		font-size: 18px
		font-weight: 400

	&__btn-author
		display: block

		font-size: 18px
		text-align: center
		color: white
		font-weight: bold
		text-transform: uppercase

		border: 1px solid #3e3e3e

		width: 100%

		padding: 15px 0
