mixin footer()
	footer.footer
		.footer__wrapper
			.footer__blocks

				.footer__block-1.footer__block
					h1.footer__title Барбершоп Бородинский

					p.footer__desc г. Санкт-Петербург, ул. Большая Конюшенная 19/8 <br><span class="span1">Тел.:</span> <span class="span2">+7 (812) 555-66-66</span>

				.footer__block-2.footer__block
					a(href="#").footer__icon
						img(src="img/icons/vk-icon-big.png", alt="Facebook")
					a(href="#").footer__icon
						img(src="img/icons/facebook-icon-big.png", alt="Facebook")
					a(href="#").footer__icon
						img(src="img/icons/insta-icon-big.png", alt="Facebook")
				.footer__block-3.footer__block
					h2.footer__author Разработано:
					a(href="#").footer__btn-author Eduard

	
