section.reviews
	.reviews__wrapper
		h1.reviews__title Отзывы о нас

		.reviews__items

			.reviews__item

				.reviews__group--1

					img(src="img/avatar1.png", alt="Аватарка").reviews__avatar

				.reviews__group--2

					h2.reviews__nickname Трэвис Баркер

					p.reviews__reviews-text Спасибо за лысину! Был проездом в Москве, заскочил побриться, чтобы было видно новую татуировку!

			.reviews__dots
				.reviews__dot.reviews__dot--active
				.reviews__dot
				.reviews__dot

		a(href="#").reviews__btn-comment Оставить свой 






